language: php

matrix:
  include:
    - php: 5.3
      dist: precise
    - php: 5.4
      dist: trusty
    - php: 5.5
      dist: trusty
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: 7.3
    - nightly

before_script:
  - travis_retry composer update --no-interaction

script: pushd test && ../vendor/bin/phpunit --configuration phpunit.xml --debug --verbose && popd
